<!DOCTYPE html>
<html    
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/layout.html}">
<head>
    
</head>
<body>
    <div layout:fragment="contents">
        <h2>나는 layout.html에서 레이아웃을 빌려다 쓰고 있습니다.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, magnam ipsam nemo neque temporibus corrupti tempore veritatis ducimus consequatur libero amet beatae error, eligendi, ea dolores cum laborum? Totam, corporis!</p>
    </div>
</body>
</html>