<!DOCTYPE html>
<html lang="en" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
xmlnx="http://www.thymeleaf.org"
layout:decorate="~{/layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JOIN</title>
</head>
<body>
	<div class="container" id="contents" layout:fragment="contents">
		<h2>JOIN</h2>
		<form action="/member/joinProcess" method="post" class="joinForm" th:object="${memberDto}"
		enctype="multipart/form-data">
		   <h3 class="h3 mb-3 mt-5 fw-normal">Please sign in</h3>
			<div class="form-floating">
				<input type="text" class="form-control userId" name="userId" id="floatingInput" placeholder="User Id"
				>
				<label for="floatingInput">User Id</label>
				<p th:if="${#fields.hasErrors('userId')}" th:errorclass="errorTxt" th:errors="*{userId}"></p>
			</div>
			<div class="form-floating mt-2">
			  <input type="password" class="form-control userPw" id="floatingPassword" name="userPw" placeholder="Password"
			  >
			  <label for="floatingPassword">Password</label>
			  <p th:if="${#fields.hasErrors('userPw')}" th:errorclass="errorTxt" th:errors="*{userPw}"></p>
			</div>
			<div class="form-floating mt-2">
			  <input type="text" class="form-control" id="floatingInput" name="email" placeholder="Password"
			  >
			  <label for="floatingInput">User Email</label>
			  <p th:if="${#fields.hasErrors('email')}" th:errorclass="errorTxt" th:errors="*{email}"></p>
			</div>
			<div class="form-floating mt-2">
				<input type="text" class="form-control" id="floatingPassword" name="userName" placeholder="User Name" 
				>
				<label for="floatingInput">User Name</label>
				<p th:if="${#fields.hasErrors('userName')}" th:errorclass="errorTxt" th:errors="*{userName}"></p>
			</div>
			<!-- <div class="mb-2 mt-2">
				<label for="formFile" class="form-label">Default file input example</label>
				<input class="form-control" type="file" id="formFile" name="profile">
			</div> -->

			<button class="w-100 btn btn-lg btn-primary mt-2 btnJoin" type="submit">Sign in</button>
			<a href="/member/login" class="w-100 btn btn-lg btn-primary mt-2">Log In</a>
			<p class="mt-5 mb-3 text-muted">© 2017–2023</p>
		  </form>
		  <script>
			// $("btnJoin").on("click",function(){
			//    if($(".userId").val()==""){
			// 	alert("아이디를 입력해주세요");
			// 	return false;
			//    }
			// })
		  </script>
	</div>
</body>
</html>